-
	var socialsData = [
		{
			label: 'TikTok',
			href: 'https://www.tiktok.com/',
			icon: 'tiktok'
		},
		{
			label: 'Facebook',
			href: 'https://www.facebook.com/',
			icon: 'facebook'
		},
		{
			label: 'Instagram',
			href: 'https://www.instagram.com/',
			icon: 'instagram'
		}
	]
