extends ../config/template

append config
	-locale				= 'en'
	-currentPage		= "home"
	-siteName			= 'Kike Estrada'
	-content			= 'content'
	-pageDescription	= 'Singer and musician. Official landing page for Kike Estrada.'

block main-header
	include ../modules/main-menu

block main-container
	include ../modules/hero
	include ../modules/about
	-
		roleBlockFacet = 'artista'
	include ../modules/role-block
	-
		roleBlockFacet = 'estudio'
	include ../modules/role-block

block main-footer
	include ../modules/site-footer
	include ../modules/floating-button

block scripts
