extends ../config/template

append config
	-locale				= 'es'
	-currentPage		= "home"
	-siteName			= 'Kike Estrada'
	-content			= 'content'
	-pageDescription	= 'Cantante y músico. Landing page oficial de Kike Estrada.'

block main-header
	include ../modules/main-menu

block main-container
	include ../modules/hero
	include ../modules/about
	include ../modules/projects
	include ../modules/youtube-portfolio
	include ../modules/gallery

block main-footer
	include ../modules/site-footer

block scripts
