section(class="main-container border border-[steelblue]") 
	div(class="container border border-[tomato] flex gap-2 flex-col")
		pre(class="language-css" contenteditable="true" spellcheck="false")
			style(contenteditable=true spellcheck="false" style="display: block; min-height: 100px;").
				.editor-css {
					background-color: #000;
					color: aqua; 
					font-size: 2rem; 
				}
		div(class='editor-css')
			h1(class='editor-css-title') editor-css
style.
	e[contenteditable="true"] {
		outline: none;
		border-radius: 8px;
		border: 2px solid #5cf;
		background: #111;
		min-height: 120px;
		font-size: 1.1em;
		font-family: 'Fira Mono', 'Consolas', 'Menlo', monospace;
		margin: 20px 0;
		padding: 16px;
		transition: box-shadow 0.2s;
	}
	pre[contenteditable="true"]:focus {
		box-shadow: 0 0 0 2px #09f;
	}
script.
	document.querySelectorAll('pre[contenteditable="true"] code').forEach(block => {
		block.addEventListener('input', () => {
			Prism.highlightElement(block);
		});
	});
