section(class="main-container border border-[steelblue]") 
	div(class="container border border-[tomato]") 
		div(class='flex flex-col')
			h1(class='font-bold text-[24px] l:text-[36px] mb-2 l:mb-4 leading-[100%]') h1
			h2(class='font-bold text-[20px] l:text-[32px] mb-2 l:mb-4 leading-[100%]') h2
			h3(class='font-bold text-[18px] l:text-[28px] mb-2 l:mb-4 leading-[100%]') h3
			h4(class='font-bold text-[16px] l:text-[24px] mb-2 l:mb-4 leading-[100%]') h4
			h5(class='font-bold text-[14px] l:text-[20px] mb-2 l:mb-4 leading-[100%]') h5
			h6(class='font-bold text-[12px] l:text-[16px] mb-2 l:mb-4 leading-[100%]') h6
			ul(class='list-disc pl-6 text-[12px] l:text-[16px] mb-2 l:mb-4')
				li Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
				li Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
