-let internalSaludo = 'Internal Module';	
section(class="main-container border border-[steelblue]") 
	div(class="container  border border-[tomato]") 
		h2(class='internal-module-style') grid
		div(class='grid grid-cols-1 sm:grid-cols-2 m:grid-cols-3 l:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 xxl:grid-cols-7 gap-5')
			-for(let i = 1; i<=10; i++)
				div(class='bg-red-300 min-[640px]:max-[1280px]:bg-[blue] h-32 flex items-center justify-center')
					span: b= internalSaludo
						| #{i}
