section(class="main-container border border-[steelblue]") 
	div(class="container border border-[tomato]") 
		ul
			-for(let i = 1; i<=5; i++)
				li lorem
					| #{i}
		ol
			-for(let i = 1; i<=5; i++)
				li lorem
					| #{i}