section(class="main-container border border-[steelblue]") 
	div(class="container border border-[tomato] flex gap-2 bg-[gray]") 
		svg(width='28', height='28'): use(xlink:href='./assets/sprite.svg#twitch')
		svg(width='28', height='28'): use(xlink:href='./assets/sprite.svg#github')
		svg(width='28', height='28'): use(xlink:href='./assets/sprite.svg#instagram')
		svg(width='28', height='28'): use(xlink:href='./assets/sprite.svg#youtube')
		svg(width='28', height='28'): use(xlink:href='./assets/sprite.svg#x') 
		svg(width='28', height='28'): use(xlink:href='./assets/sprite.svg#linkedin')

