extends ../config/template

append config
	-currentPage		= "style-guide"
	-siteName			= 'Style Guide'
	-content			= 'content'
	-pageDescription	= 'Style Guide de MyBoilerplate'

block main-header
block main-container
	include color-table
	include fonts-specimen
block main-footer
block scripts
