section(class="main-container border border-[steelblue]") 
	div(class="container  border border-[tomato]") 
		p(class='text-[12px] l:text-[16px] mb-2 l:mb-4 dark:text-white')
			| Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi,
			| dolorem autem maiores quis dolor, reprehenderit delectus quia dolore,
			| incidunt obcaecati sequi labore hic? Soluta doloremque vitae explicabo
			| assumenda fugit tenetur.
		p(class='text-[12px] l:text-[16px] mb-2 l:mb-4 font-secondary dark:text-white') 
			| Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi,
			| dolorem autem maiores quis dolor, reprehenderit delectus quia dolore,
			| incidunt obcaecati sequi labore hic? Soluta doloremque vitae explicabo
			| assumenda fugit tenetur.
